{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript"
    },
    "target": "es2024",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
